    @use '../utils/variables' as *;
@use '../base/typography' as *;

.accordion{
    width: 100%; 
    cursor: pointer;
    &> div{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    text-align: left;
    }
    &__panel{
        overflow: hidden;
        transition: opacity 600ms ease-in-out, max-height 700ms ease-in-out, transform 600ms ease-in-out;
        & p{
            padding-bottom: 1.2rem;
            line-height: 1.2rem;
        }
    }
}

.accordion__divider{
    width: 100%;
    height: 1px;
    background: $divider-color;
}

.accordion__panel{
    &--active{
        transform-origin: top center;
        transform: scaleY(1);
        opacity: 1;
        max-height: 1000px;
    }
    &--folded{
        transform-origin: top center;
        transform: scaleY(0);
        max-height:0;
        opacity: 0;
    }
}

.accordion>div>.accordion__question>span{
    transition: all ease-in-out 250ms;
}

.accordion:hover>div>.accordion__question>span{
    color: $text-color-2;
}

.accordion__question--active{
    font-weight: $title-active-weight;
}

.accordion__arrow--active{
    transform: rotate(180deg);
}