@use '../utils/variables' as *;

.attribution{
    width: 100%;
    color: white;
    font-size: 10px;
    text-align: center;
    & a{
        display: inline-block;
        color: $text-color-2;
        text-decoration: none;
    }
}
.attribution a::after{
    content: '';
    display: block;
    border-bottom: solid 4px $text-color-2;
    position: relative;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform ease-in-out 250ms;
}

.attribution a{
    &:hover{
        &::after{
            transform-origin: left;
            transform: scaleX(1);
        }
    
    }
    
    @keyframes underline{
        from{
            transform : scaleX(0);
        }
        to{
            transform: scaleX(1);
        }
    }
}
