@use '../utils/variables' as *;

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70%;
    width: 68%;
    background: white;
    border-radius: 2em;
    box-shadow: 0px 60px 60px -20px $neutral-text-color-1;
    padding: 5em 5em;
    margin: 2em 0;
    background-image: url("../../images/desktop/bg-pattern-desktop.svg"), url("../../images/desktop/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -570px -290px, -80px 80px;
    &__Q-A, &__images{
        width: 50%;
        padding: 0 1em;
        margin: auto 0;
    }
    & h1{
        padding-bottom: 1.5rem; 
    }
    &__images img{
        position: relative;
        right: 195px;
        top: 50%;
        transform: translateY(25%);
    }
}

