@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//Typography and font size
$body-font-size:12px;
$title-font-size:2.1rem;
//Font family
$font-family: 'Kumbh Sans', sans-serif;
//Font weight
$normal-weight:400;
$title-active-weight:700;
